@import "styles/variables";

.index {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 9% auto;
}

.column {
  width: 50%;
  background-color: var(--color-white);
  border-radius: var(--background-border-radius);
  margin: 1% 1% 1% .5%;
  padding: 20px;
}

.location-name {
  margin-left: -10px;
  margin-top: -45px;
  position: absolute;
  display: flex;
  color: var(--color-white);
}
.location-icon {
  width: 20px;
  height: 100%;
  color: white;
  font-family: var(--font-ionicons);
}
.location-icon:after {
  font-size: var(--font-size-medium);
  content: "\f3a3";
}

.input-container {
  width: 80%;
}
.attribute-container {
  width: 60%;
}

.col4 {
  width: 100%;
}

.inputfield:nth-of-type(2) {
  margin-top: 20px;
}
